.project-item {
    /* display: block; Makes the item behave like a button */
    padding: 5px 10px;   /* Padding for button-like appearance */
    margin: 5px 0;          /* Spacing between buttons */
    background-color: white; /* Primary button color */
    color: black;         /* Text color */
    border: none;         /* No border */
    border-radius: 5px;   /* Rounded corners */
    cursor: pointer;      /* Pointer cursor on hover */
    text-align: left;   /* Center text */
    text-decoration: none; /* No underline */
    width: fit-content;
    transition: background-color 0.3s ease; /* Smooth transition */
}

.project-item:hover {
    background-color: #f0f0f0; /* Change to your desired hover color */
}